docker-compose.yml
.git/
.git
Dockerfile
docker/
docker/*
nml/*.db
nml/db/*.db
nml/__pycache__/
__pycache__/
dbbackup/
requirements.txt.old
deploy.sh
nml/static/dbbackup/
nml/.env
nml/static/uploads/*.jpg
nml/static/uploads/*.png
nml/static/uploads/timeline/*.png
nml/static/uploads/timeline/*.jpg
nml/static/uploads/publication/*.jpg
nml/static/uploads/publication/*.png
nml/static/timeline/*.png
nml/static/uploads/*.jpg
nml/static/music/*.mp3
*.db
*/*.db
*/*/*.db
*/*/*/*.db
clientes_dump.sql
nml/old_*
nml/static/music/*.mp3
music/
flask/
migrations/
*.old
