__pycache__/
__pycache__/*
flask/*
migrations/*
docker/
docker/*
nml/static/dbbackup/*gz
archive/
nml/config/
nml/db/*.db
nml/static/uploads/*.jpg
nml/static/uploads/*.png
nml/static/uploads/timeline/*.png
nml/static/uploads/timeline/*.jpg
nml/static/uploads/publication/*.jpg
nml/static/uploads/publication/*.png
nml/static/timeline/*.png
nml/static/uploads/*.jpg
nml/static/music/*.mp3
nml/old_*.html
*.mp3
nml/.env
docker-compose.yml
deploy.sh
*.old
flask