{% extends 'layouts.html' %}
{% set active_page = "assets" %}

{% block content %}

<div class=" row shadow p-3 mb-5 bg-body rounded linkfnt">

  <form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="input-group mb-3 linkfnt">
      <input type="hidden" name="user_id" value="{{current_user.id}}">
      <span class="input-group-text linkfnt" id="basic-addon1">{{form.contributor.label}}</span>
      <select class="form-select form-select-sm linkfnt" name="{{ form.contributor.name }}"
        id="{{ form.contributor.id }}">
        {% for value, label in form.contributor.choices %}
        <option value="{{ value }}" {% if value==form.contributor.default %} selected {% endif %}> {{ label }} </option>
        {% endfor %}
      </select>
    </div>
    <p>
    <div class="form-group row linkfnt">
      <div class="col-sm-6">
        <div class="input-group mb-2 linkfnt">
          <span class="input-group-text linkfnt" id="basic-addon1">{{form.media_name.label}}</span>

          <select class="form-select form-select-sm linkfnt" name="{{ form.media_name.name }}"
            id="{{ form.media_name.id }}">
            {% for value, label in form.media_name.choices %}
            <option value="{{ value }}" {% if value==form.media_name.default %} selected {% endif %}> {{ label }}
            </option>
            {% endfor %}
          </select>
        </div>

      </div>
      <div class="col-sm-6">
        <div class="input-group mb-2 linkfnt">
          <span class="input-group-text linkfnt" id="basic-addon1">{{form.format_name.label}}</span>
          <select class="form-select form-select-sm linkfnt" name="{{ form.format_name.name }}"
            id="{{ form.format_name.id }}">
            {% for value, label in form.format_name.choices %}
            <option value="{{ value }}" {% if value==form.format_name.default %} selected {% endif %}> {{ label }}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>

    </div>
    </p>

    <!-- additional input fields for publication details -->
    <div id="additional_publication" class="bg-info p-1 text-dark bg-opacity-10" style="display: none;">
      <p>
        <strong>Additional information: </strong>
      </p>
      <p>
      <div class="form-group row linkfnt">

        <div class="col-sm-9">
          <!-- <div class="input-group mb-3 linkfnt">
                  <span class="input-group-text linkfnt" id="basic-addon1">{{form.company.label}}</span>
                  {{form.company(class='form-select form-select-sm linkfnt')}}
                </div> -->
                <div class="form-group row linkfnt">
                  <div class="col-sm-7">
                    <div class="input-group mb-3 linkfnt">
                      <span class="input-group-text linkfnt" id="basic-addon1">{{form.image1.label}}</span>
                      {{form.image1(class='form-control linkfnt')}}
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="input-group mb-2 linkfnt">
                      <span class="input-group-text linkfnt" id="basic-addon1">{{form.location1.label}}</span>
                      {{form.location1(class='input-group form-control
                      linkfnt',placeholder=form.location1.description)}}
                    </div>
                  </div>
          
                </div>
          
      
    
         


        </div>
      </div>
      </p>
    </div>

    <!-- additional input fields for audio details -->
    <div id="additional_audio" class="bg-warning p-1 text-dark bg-opacity-10" style="display: none;">
      <p>
        <strong>Additional information: </strong>
      <div class="form-group row linkfnt">

        <div class="col-sm-6">
          <div class="input-group mb-2 linkfnt">
            <span class="input-group-text linkfnt" id="basic-addon1">{{form.collection_title.label}}</span>
            {{form.collection_title(class='input-group form-control
            linkfnt',placeholder=form.collection_title.description)}}
          </div>
        </div>

        <div class="col-sm-6">
          <div class="input-group mb-2 linkfnt">
            <span class="input-group-text linkfnt" id="basic-addon1">{{form.artist.label}}</span>
            {{form.artist(class='input-group form-control linkfnt')}}
          </div>
        </div>

      </div>

      </p>
      <p>
      <div class="form-group row linkfnt">
        <div class="col-sm-6">
          <div class="input-group mb-3 linkfnt">
            <span class="input-group-text linkfnt" id="basic-addon1">{{form.language.label}}</span>
            {{form.language(class='form-select form-select-sm linkfnt')}}
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-group mb-3 linkfnt">
            <span class="input-group-text linkfnt" id="basic-addon1">{{form.genre.label}}</span>
            {{form.genre(class='form-select form-select-sm linkfnt')}}
          </div>
        </div>
      </div>


      </p>
      <p>
      <div class="form-group row linkfnt">

        <div class="col-sm-6">
          <div class="input-group mb-3 linkfnt">
            <span class="input-group-text linkfnt" id="basic-addon1">{{form.company.label}}</span>
            {{form.company(class='form-select form-select-sm linkfnt')}}
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-group mb-3 linkfnt">
            <span class="input-group-text linkfnt" id="basic-addon1">{{form.image.label}}</span>
            {{form.image(class='form-control linkfnt')}}
          </div>
        </div>
      </div>
      </p>
      <p>
      <div class="form-group row linkfnt">
        <div class="col-sm-4">
          <div class="input-group mb-2 linkfnt">
            <span class="input-group-text linkfnt" id="basic-addon1">{{form.release_date.label}}</span>
            {{form.release_date(class='form-select form-select-sm linkfnt')}}
          </div>
        </div>

        <div class="col-sm-4">
          <div class="input-group mb-2 linkfnt">
            <span class="input-group-text linkfnt" id="basic-addon1">{{form.release_month.label}}</span>
            {{form.release_month(class='form-select form-select-sm linkfnt')}}
          </div>

        </div>

        <div class="col-sm-4">
          <div class="input-group mb-3 linkfnt">
            <span class="input-group-text linkfnt" id="basic-addon1">{{form.release_year.label}}</span>
            {{form.release_year(class='form-select form-select-sm linkfnt')}}
          </div>
        </div>
      </div>

      <div class="form-group row linkfnt">

        <div class="col-sm-6">
          <div class="input-group mb-2 linkfnt">
            <span class="input-group-text linkfnt" id="basic-addon1">{{form.location.label}}</span>
            {{form.location(class='input-group form-control
            linkfnt',placeholder=form.location.description)}}
          </div>
        </div>

        <div class="col-sm-6">
          <div class="input-group mb-2 linkfnt">
            <span class="input-group-text linkfnt" id="basic-addon1">{{form.audiofile.label}}</span>
            {{form.audiofile(class='form-control linkfnt')}}
          </div>
        </div>

      </div>
      </p>
    </div>
    <p>


    <div class="input-group mb-2 linkfnt">
      <span class="input-group-text linkfnt">{{form.inscriptions.label}}</span>
      {{form.inscriptions(rows='5',class='form-control linkfnt',placeholder=form.inscriptions.description)}}
    </div>
    <br>
    <div class="input-group mb-2 linkfnt">
      <span class="input-group-text linkfnt" id="basic-addon1">{{form.keywords.label}}</span>
      {{form.keywords(rows='5',class='input-group form-control linkfnt',placeholder=form.keywords.description)}}
    </div>

    <div class="input-group  mb-3 linkfnt">
      <span class="input-group-text linkfnt">{{form.notes.label}}</span>
      {{form.notes(rows='5',class='form-control linkfnt',placeholder=form.notes.description)}}
    </div>
    <br>
    {{form.submit(class='btn btn-primary linkfnt')}}

</div>
</p>
</form>
{% if current_user.username=='nirat' %}
<p class="card-text" style="float: right">


  <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-primary" id="open" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

  <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
     
      <div id="target-div">
  
      </div>
     
    </div>
  </div>
</div> -->


  <a class="btn btn-outline-secondary btn-sm" href="{{request.referrer}}">Back</a>
</p>
{%endif%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  /* dynamic select of media / format in dropdowns*/
  var media_name_select = document.getElementById("media_name");
  var format_mame_select = document.getElementById("format_name");
  var audioValues = ["1", "2", "3", "12", "13", "14", "19", "10", "4", "5", "6", "15", "16", "17"];
  var publicationValues = ["8", "18"];
  media_name_select.onchange = function () {

    media = media_name_select.value;
    $("#additional_audio").hide();
    $("#additional_publication").hide();

    fetch('/format/' + media).then(function (response) {
      <!-- alert("test .. " + media); -->

      response.json().then(function (data) {
        var optionHTML = '';

        for (var format_mame_select of data.format_list) {
          optionHTML += '<option value="' + format_mame_select.id + '">' + format_mame_select.name + '</option>';
        }

        format_name.innerHTML = optionHTML;
      })

    });
  }

  $(document).ready(function () {
    $("#open").click(function () {
      $.ajax({
        url: '/record_company',
        type: 'GET',
        success: function (response) {
          $("#target-div").html(response);
        }
      });
    });



    if (audioValues.includes($(this).val())) {
      $("#additional_audio").show();
      $("#additional_publication").hide();
    } else if (publicationValues.includes($(this).val())) {
      $("#additional_audio").hide();
      $("#additional_publication").show();
    } else {
      $("#additional_audio").hide();
      $("#additional_publication").hide();
    }

    /* select additional div on dropdown change */
    $("#format_name").change(function () {
      console.log($(this).val())
      /* if format is cd , album cover, vinyl or cassette */
      if (audioValues.includes($(this).val())) {
        $("#additional_audio").show();
        $("#additional_publication").hide();
      } else if (publicationValues.includes($(this).val())) {
        $("#additional_audio").hide();
        $("#additional_publication").show();
      } else {
        $("#additional_audio").hide();
        $("#additional_publication").hide();
      }

    });

  });
</script>
</div>


{% endblock %}