{% extends 'layouts.html' %}
{% set active_page = "addpub" %}

{% block content %}

<div class=" row shadow p-3 mb-5 bg-body rounded linkfnt">

  <form method="POST" action="/add_publication" enctype="multipart/form-data">
    {{ form.csrf_token }}

    <div class="form-group row linkfnt">
      <div class="col-sm-4">
        <div class="input-group mb-3 linkfnt">
          <span class="input-group-text linkfnt" id="basic-addon1">{{form.title.label}}</span>
          {{form.title(class='input-group form-control linkfnt')}}
        </div>
      </div>
      <div class="col-sm-4">
        <div class="input-group mb-2 linkfnt">
          <span class="input-group-text linkfnt" id="basic-addon1">{{form.language.label}}</span>
          {{form.language(class='form-select form-select-sm linkfnt')}}
        </div>
      </div>
      <div class="col-sm-4">
        <div class="input-group mb-3 linkfnt">
          <span class="input-group-text linkfnt" id="basic-addon1">{{form.category.label}}</span>
          {{form.category(class='input-group form-control linkfnt')}}
        </div>
      </div>
    </div>

    <div class="form-group row linkfnt">
      <div class="col-sm-4">
        <div class="input-group mb-2 linkfnt">
          <span class="input-group-text linkfnt" id="basic-addon1">{{form.author.label}}</span>
          {{form.author(class='input-group form-control linkfnt')}}
        </div>
      </div>

      <div class="col-sm-4">
        <div class="input-group mb-2 linkfnt">
          <span class="input-group-text linkfnt" id="basic-addon1">{{form.publisher.label}}</span>
          {{form.publisher(class='input-group form-control linkfnt')}}
        </div>

      </div>

      <div class="col-sm-4">
        <div class="input-group mb-3 linkfnt">
          <span class="input-group-text linkfnt" id="basic-addon1">{{form.editor.label}}</span>
          {{form.editor(class='input-group form-control linkfnt')}}
        </div>
      </div>
    </div>

    <div class="form-group row linkfnt">
      <div class="col-sm-6">
        <div class="input-group mb-3 linkfnt">
          <span class="input-group-text linkfnt" id="basic-addon1">{{form.year.label}}</span>
          {{form.year(class='input-group form-control linkfnt')}}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group mb-2 linkfnt">
          <span class="input-group-text linkfnt" id="basic-addon1">{{form.edition.label}}</span>
          {{form.edition(class='input-group form-control linkfnt')}}
        </div>
      </div>

    </div>
    <div class="form-group row linkfnt">
      <div class="col-sm-4">
        <div class="input-group mb-3 linkfnt">
          <span class="input-group-text linkfnt" id="basic-addon1">{{form.isbn.label}}</span>
          {{form.isbn(class='input-group form-control linkfnt')}}
        </div>
      </div>
      <div class="col-sm-4">
        <div class="input-group mb-2 linkfnt">
          <span class="input-group-text linkfnt" id="basic-addon1">{{form.library.label}}</span>
          {{form.library(class='form-select form-select-sm linkfnt')}}
        </div>
      </div>
      <div class="col-sm-4">
        <div class="input-group mb-2 linkfnt">
          <span class="input-group-text linkfnt" id="basic-addon1">{{form.acnum.label}}</span>
          {{form.acnum(class='input-group form-control linkfnt')}}
        </div>
      </div>
    </div>
    <div class="form-group row linkfnt">
      <div class="col-sm-6">
        <div class="input-group mb-3 linkfnt">
          <span class="input-group-text linkfnt" id="basic-addon1">{{form.remarks.label}}</span>
          {{form.remarks(rows='5',class='input-group form-control linkfnt')}}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group mb-2 linkfnt">
          <span class="input-group-text linkfnt" id="basic-addon1">{{form.image.label}}</span>
          {{form.image(class='input-group form-control linkfnt')}}
        </div>
      </div>

    </div>
    {{form.submit(class='btn btn-primary linkfnt')}}
  </form>
</div>
<p class="card-text" style="float: right">


  <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-primary" id="open" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

  <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
     
      <div id="target-div">
  
      </div>
     
    </div>
  </div>
</div> -->


  <a class="btn btn-outline-secondary btn-sm" href="{{request.referrer}}">Back</a>
</p>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  /* dynamic select of media / format in dropdowns*/
  var media_name_select = document.getElementById("media_name");
  var format_mame_select = document.getElementById("format_name");

  media_name_select.onchange = function () {

    media = media_name_select.value;
    $("#additional_audio").hide();
    $("#additional_publication").hide();

    fetch('/format/' + media).then(function (response) {
      <!-- alert("test .. " + media); -->

      response.json().then(function (data) {
        var optionHTML = '';

        for (var format_mame_select of data.format_list) {
          optionHTML += '<option value="' + format_mame_select.id + '">' + format_mame_select.name + '</option>';
        }

        format_name.innerHTML = optionHTML;
      })

    });
  }

  $(document).ready(function () {
    $("#open").click(function () {
      $.ajax({
        url: '/record_company',
        type: 'GET',
        success: function (response) {
          $("#target-div").html(response);
        }
      });
    });
    /* select additional div on page load */
    /* if format is cd , album cover, vinyl or cassette */
    if ($("#format_name").val() == "1" || $("#format_name").val() == "10" || $("#format_name").val() == "14" || $("#format_name").val() == "3") {
      $("#additional_audio").show();
      $("#additional_publication").hide();
    } else if ($("#format_name").val() == "8") { /* if format is publication*/
      $("#additional_audio").hide();
      $("#additional_publication").show();
    } else {
      $("#additional_audio").hide();
      $("#additional_publication").hide();
    }

    /* select additional div on dropdown change */
    $("#format_name").change(function () {
      console.log($(this).val())
      /* if format is cd , album cover, vinyl or cassette */
      if ($(this).val() == "1" || $(this).val() == "10" || $(this).val() == "14" || $(this).val() == "3") {
        $("#additional_audio").show();
        $("#additional_publication").hide();
      } else if ($(this).val() == "8") { /* if format is publication*/
        $("#additional_audio").hide();
        $("#additional_publication").show();

      } else {
        $("#additional_audio").hide();
        $("#additional_publication").hide();
      }

    });

  });
</script>
</div>


{% endblock %}